@import "./mainMenu/mainMenu.css";
@import "./circuit/circuit.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-stats {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  z-index: 10;
}
