@import "./menuItem.css";

.mainMenu {
  flex-direction: column;
  position: relative;
}

.menuBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menuBack img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  position: absolute;
  left: 2vw;
  top: 5vh;
  width: 30vw;
  height: 90vh;
  flex-direction: column;
  gap: 1rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo h1 {
  opacity: 0;
  position: absolute;
}

.start {
  height: 5vh;
  transition: all 0.5s;
  clip-path: polygon(0 0, 96% 0, 94% 100%, 0% 100%);
}

.start:hover {
  background: rgba(192, 46, 46, 0.8);
  cursor: pointer;
}

.start p {
  color: white;
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
}

.prevButton,
.nextButton { 
    position: absolute;
    z-index: 3;
    background: none;
    font-size: 1.5rem;
    border: none;
    color: rgb(168, 12, 12);
    font-weight: 900;
    left: 2rem;
    cursor: pointer;
}

.nextButton {
    left: auto;
    right: 3rem;
}