.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background: rgba(255, 255, 255, 0.726);
  padding: 2rem;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
  position: relative;
}

.menuItem.logo {
  height: 28vh;
  background: none;
}

.carSelect,
.circuitSelect {
  flex-direction: column;
}

.carSelect h2,
.circuitSelect h2 {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: auto;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.selectItem {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 96, 96, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.selectItem h3 {
  position: absolute;
  bottom: 1rem;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.selectItem img {
  position: absolute;
  bottom: 2rem;
  width: 60%;
  object-fit: cover;
}

.selectItem img.circuitLogo {
  bottom: 5rem;
}
