@import url("./interface/carActions.css");
@import url("./interface/help.css");
@import url("./interface/laps.css");
@import url("./interface/circuitLogo.css");

.circuitSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/assets/circuits/circuitTerrain.jpg");
  top: 0;
  left: 0;
}

.circuitSvg {
  position: absolute;
  width: 90%;
  height: 90%;
  z-index: 0;
  opacity: 0;
}

.canvas {
  position: absolute;
  inset: 0;
  width: 88%;
  height: 88%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  filter: drop-shadow(0 0 5px black);
}
