.circuitSection {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}